
<div class="container">
 <table border class="racer_table">
    <tr id="player1_strip">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id="player2_strip">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
<div id="game_over">
  <ul>
    <li>
      <a id="results">See results</a>
    </li>
    <li>
      <a id="play_again" href="/game">Play Again</a>
    </li>
    <li>
      <a id="start_over" href="/">Start Over</a>
    </li>
  </ul>
</div>

<script src="/js/application.js"></script>
