<div class="container">
  <form method="post" action="/">
    <ul>
      <li>
        <input type="text" name="player1" placeholder="Player 1 Name">
      </li>
      <li>
        <input type="text" name="player2" placeholder="Player 2 Name">
      </li>
      <li>
        <input type="submit" value="Start Game">
      </li>
    </ul>
  </form>
</div>
